@font-face {
    font-family: 'CabinetGrotesk-Variable';
    src: url('./Assets/Cabinet/CabinetGrotesk-Variable.woff2') format('woff2'),
         url('./Assets/Cabinet/CabinetGrotesk-Variable.woff') format('woff'),
         url('./Assets/Cabinet/CabinetGrotesk-Variable.ttf') format('truetype');
         font-weight: 100 900;
         font-display: swap;
         font-style: normal;
}
@font-face {
    font-family: 'CabinetGrotesk-Thin';
    src: url('./Assets/Cabinet/CabinetGrotesk-Thin.woff2') format('woff2'),
         url('./Assets/Cabinet/CabinetGrotesk-Thin.woff') format('woff'),
         url('./Assets/Cabinet/CabinetGrotesk-Thin.ttf') format('truetype');
         font-weight: 100;
         font-display: swap;
         font-style: normal;
} 
@font-face {
    font-family: 'CabinetGrotesk-Extralight';
    src: url('./Assets/Cabinet/CabinetGrotesk-Extralight.woff2') format('woff2'),
         url('./Assets/Cabinet/CabinetGrotesk-Extralight.woff') format('woff'),
         url('./Assets/Cabinet/CabinetGrotesk-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
}
@font-face {
    font-family: 'CabinetGrotesk-Light';
    src: url('./Assets/Cabinet/CabinetGrotesk-Light.woff2') format('woff2'),
         url('./Assets/Cabinet/CabinetGrotesk-Light.woff') format('woff'),
         url('./Assets/Cabinet/CabinetGrotesk-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
} 
@font-face {
    font-family: 'CabinetGrotesk-Regular';
    src: url('./Assets/Cabinet/CabinetGrotesk-Regular.woff2') format('woff2'),
         url('./Assets/Cabinet/CabinetGrotesk-Regular.woff') format('woff'),
         url('./Assets/Cabinet/CabinetGrotesk-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}
@font-face {
    font-family: 'CabinetGrotesk-Medium';
    src: url('./Assets/Cabinet/CabinetGrotesk-Medium.woff2') format('woff2'),
         url('./Assets/Cabinet/CabinetGrotesk-Medium.woff') format('woff'),
         url('./Assets/Cabinet/CabinetGrotesk-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}  
@font-face {
    font-family: 'CabinetGrotesk-Bold';
    src: url('./Assets/Cabinet/CabinetGrotesk-Bold.woff2') format('woff2'),
         url('./Assets/Cabinet/CabinetGrotesk-Bold.woff') format('woff'),
         url('./Assets/Cabinet/CabinetGrotesk-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
} 
@font-face {
    font-family: 'CabinetGrotesk-Extrabold';
    src: url('./Assets/Cabinet/CabinetGrotesk-Extrabold.woff2') format('woff2'),
         url('./Assets/Cabinet/CabinetGrotesk-Extrabold.woff') format('woff'),
         url('./Assets/Cabinet/CabinetGrotesk-Extrabold.ttf') format('truetype');
         font-weight: 800;
         font-display: swap;
         font-style: normal;
}  
@font-face {
    font-family: 'CabinetGrotesk-Black';
    src: url('./Assets/Cabinet/CabinetGrotesk-Black.woff2') format('woff2'),
         url('./Assets/Cabinet/CabinetGrotesk-Black.woff') format('woff'),
         url('./Assets/Cabinet/CabinetGrotesk-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html{
    background-color: #f8f8f8;
}
body{
    width: 100%;
    min-height: 100vh;
    padding: 14px;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #fff;
    overflow-x: hidden;
}
input, textarea, button, select, svg, img, div, section{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a:focus, a:visited, a:active{outline: none;}
body::-webkit-scrollbar {width: 3px;}
body::-webkit-scrollbar-track {background-color: #fff;}
body::-webkit-scrollbar-thumb {background-color: #000;}
body > .wrapper{
    border: 2px solid #9c9c9c;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
/* NAVIGATION BAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: 0 auto;
    padding: 12px;
    border-bottom: 1px solid #9c9c9c;
}
nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.logo > img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 10px;
}
.logo > p{
    font: 500 1.3rem 'CabinetGrotesk-Medium';
    cursor: default;
    line-height: 1;
}
nav > .nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.nav-items > p{
    margin-right: 15px;
    font: 700 1rem 'CabinetGrotesk-Bold';
    cursor: pointer;
}
.nav-items > p:hover{
    color: crimson;
    transition: color 0.4s ease-in;
}
.nav-items > button{
    background-color: #000;
    color: #fff;
    border: 0;
    outline: none;
    font: 700 1rem 'CabinetGrotesk-Bold';
    cursor: pointer;
    padding: 8px 10px;
}
.nav-items > button:hover{
    color: crimson;
    background-color: #1f1f1f;
    transition: color 0.4s ease-in;
}
nav .menu{
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
}
nav .menu > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.arrow-icon{
    width: 40px;
    height: 100px;
    transform: rotate(-90deg);
    display: none;
}
/* Main */
main{
    padding: 16px 10px;
}
/* HEADER SECTION */
header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
header > p{
    font: 400 16px 'CabinetGrotesk-Regular';
}
header > h1{
    font: 700 5rem 'CabinetGrotesk-Bold';
    line-height: 1;
    width: 60%;
    margin: 13px 0;
}
header > img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
/* VALUES SECTION */
.values{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3rem;
    border-bottom: 1px solid #9c9c9c;
    padding: 1rem 0;
}
.vision{
    width: 70%;
}
.vision > p{
    font: 400 16px 'CabinetGrotesk-Regular';
}
.vision > h1{
    font: 700 4rem 'CabinetGrotesk-Bold';
    line-height: 1;
    margin-top: 12px;
}
.writeup{
    border-left:  1px solid #9c9c9c;
    padding: 0 0 0 10px;
    width: 30%;
}
.writeup .item{
    margin-bottom: 12px;
    padding: 12px 0;
    overflow: hidden;
}
.writeup .item:nth-of-type(2){
    border-top: 1px solid #9c9c9c;
    border-bottom: 1px solid #9c9c9c;
}
.writeup .item > h4{
    font: 700 1.3rem 'CabinetGrotesk-Bold';
    color: #9c9c9c;
    text-transform: uppercase;
}
.writeup .item > p{
    font: 400 16px 'CabinetGrotesk-Regular';
}
/* Team Section */
.team{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 2rem 0;
}
.team > .team-writeup{
    width: 25%;
}
.team-writeup > h4{
    font: 700 2.5rem 'CabinetGrotesk-Bold';
    text-transform: uppercase;
    line-height: 1;
}
.team-writeup > p{
    font: 400 14px "CabinetGrotesk-Regular";
}
.team > .team-img{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(auto-fit, minmax( 350px, 1fr));
    border-left: 1px solid #9c9c9c;
    padding: 0 0 0 1rem;
}
.img-detail{
    margin-right: 10px;
    margin-bottom: 10px;
}
.img-detail > img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.img-detail > p:nth-of-type(1){
    font: 700 1.5rem 'CabinetGrotesk-Bold';
}
.img-detail > p:nth-of-type(2){
    font: 700 1rem 'CabinetGrotesk-Bold';
}
/* FOOTER SECTION */
footer{
    width: 100%;
    background-color: #1f1f1f;
    color: #fff;
    padding: 3rem 10px;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}
.foot-left, .foot-right{
    width: 50%;
}
.foot-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.5rem;
    overflow: hidden;
}
.foot-logo > img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 8px;
}
.foot-logo > p{
    font: 700 2.5rem 'CabinetGrotesk-Bold';
}
.foot-input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    position: relative;
    overflow: hidden;
}
.foot-input > p{
    font: 700 1.5rem 'CabinetGrotesk-Bold';
}
.foot-input > input{
    background-color: inherit;
    color: #fff;
    font: 700 1rem 'CabinetGrotesk-Bold';
    border: 0;
    outline: none;    
    border-bottom: 1px solid #fff;
    width: 300px;
    padding: 5px;
    margin-top: 10px;
}
.fancy-arr{
    width: 40px;
    height: 30px;
    position: absolute;
    top: 2.5rem;
    left: 15.5rem;
    cursor: pointer;
}
.foot-right > h4{
    font: 700 1.5rem 'CabinetGrotesk-Bold';
    line-height: 1;
}
.foot-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 4rem;
    overflow: hidden;
}
.foot-item > .socials{
    margin-right: 5rem;
}
.foot-item > .socials h5, .foot-item > .pages h5{
    font: 700 1rem 'CabinetGrotesk-Bold';
    margin-bottom: 12px;
}
.foot-item > .socials p, .foot-item > .pages p{
    font: 400 1rem 'CabinetGrotesk-Regular';
    cursor: pointer;
    margin-bottom: 5px;
}
.foot-item > .socials p:hover, .foot-item > .pages p:hover{
    color: crimson;
    transition: color 0.5s ease-in-out;
}

/* Page Loader */
.page-Loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
}
.page-LoaderConatiner2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #e2e2e2;
}
.page-Loader > img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

@media screen and (max-width: 950px) {
    /* header section */
    header > h1{
        font: 700 5rem 'CabinetGrotesk-Bold';
        line-height: 1;
        width: 100%;
    }
    /* Values section */
    .vision > h1{
        font: 700 3rem 'CabinetGrotesk-Bold';
        line-height: 1;
    }
}
@media screen and (max-width: 700px) {
    body{
        padding: 5px;
    }
    /* Navigation Bar */
    nav .menu{
        display: block;
    }
    nav > .nav-items{
        position: fixed;
        top: 0;
        left: -300%;
        width: 100%;
        height: 100vh;
        background-color: #1f1f1f;
        color: #fff;
        flex-direction: column;
        transition: all 0.4s;
        z-index: 1;
        text-align: center;
    }
    .nav-items p{
        font: 700 4rem 'CabinetGrotesk-Bold';
        line-height: 1.2;
        margin: 10px 0;
        width: 90%;
        border-bottom: 1px solid #e2e2e2;
    }
    .nav-items > button{
        font: 700 3rem 'CabinetGrotesk-Bold';
        background-color: #fff;
        color: #000;
        padding: 5px;
        margin-top: 10px;
    }
    .nav-items > button:hover{
        background-color: #e2e2e2;
    }
    .arrow-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 4rem;
    }
    /* Header section */
    header > h1{
        font: 700 3.5rem 'CabinetGrotesk-Bold';
        line-height: 1;
    }
    /* Values Section */
    .values{
        flex-direction: column;
    }
    .vision{
        width: 100%;
    }
    .vision > h1{
        text-align: center;
    }
    .writeup{
        border-left:  none;
        padding: 0;
        width: 100%;
    }
    /* TEAM SECTION */
    .team{
        flex-direction: column;
    }
    .team > .team-writeup{
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .team > .team-img{
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax( 200px, 1fr));
        border-left: none;
        padding: 0;
    }
    /* FOOTER SECTION */
    footer{
        flex-direction: column;
    }
    .foot-left, .foot-right{
        width: 100%;
    }
    .foot-logo{
        margin-bottom: 2.5rem;
    }
    .foot-logo > p{
        font: 700 2rem 'CabinetGrotesk-Bold';
    }
    .foot-input > input{
        width: 250px;
        margin-bottom: 2rem;
    }
    .fancy-arr{
        left: 12.5rem;
    }
    .foot-right > h4{
        font: 700 1.5rem 'CabinetGrotesk-Bold';
        line-height: 1;
    }
    .foot-item{
        margin-top: 2rem;
    }
    .foot-item > .socials{
        margin-right: 5rem;
    }
    .foot-item > .socials h5, .foot-item > .pages h5{
        font: 700 1rem 'CabinetGrotesk-Bold';
        margin-bottom: 12px;
    }
    /* Page Loader */
    .page-Loader > img{
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 400px) {
    /* Navigation Bar */
    .nav-items p{
        font: 700 3.5rem 'CabinetGrotesk-Bold';
        line-height: 1;
    }
    .nav-items > button{
        font: 700 2.5rem 'CabinetGrotesk-Bold';
    }
    /* Header section */
    header > h1{
        font: 700 2.5rem 'CabinetGrotesk-Bold';
        line-height: 1;
    }
    header > img{
        height: 500px;
    }
    /* Values section */
    .vision > h1{
        font: 700 2rem 'CabinetGrotesk-Bold';
        line-height: 1;
        text-align: left;
        margin-bottom: 1rem;
    }
    /* TEAM SECTION */
    .team-writeup > h4{
        font: 700 2rem 'CabinetGrotesk-Bold';
        line-height: 1;
    }
    .img-detail > p:nth-of-type(1){
        font: 700 1rem 'CabinetGrotesk-Bold';
    }
    .img-detail > p:nth-of-type(2){
        font: 700 0.8rem 'CabinetGrotesk-Bold';
    }
}

/* Media screen for height to position the header */
@media screen and (max-height: 812px) and (min-height: 750px) and (max-width: 500px){
    header{
        margin-top: 4rem;
    }
}
@media screen and (max-height: 750px){
    header > img{
        height: 450px;
    }
}